#
# Copyright (C) 2023-2024 The TeamWin Recovery Project
# SPDX-License-Identifier: Apache-2.0
#

import /init.recovery.qcom_decrypt.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    chmod 0777 /system/bin/postrecoveryboot.sh
    start postrecoveryboot

service postrecoveryboot /system/bin/postrecoveryboot.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
